<div class="col-2 left-partial">
    <div class="row">
      <div class="col d-flex flex-column" style="height: 100vh">
          <div class="row mt-2 mb-1"><i class="fab fa-twitter twitterSimbol fs-4"></i></div>
          <div class="row mt-4">
            <a href="/" class="text-decoration-none text-black"><span><i class="fa-solid fa-house me-3"></i>Home</span></a>
          </div>
          <div class="row mt-4">
            <a href="/profile" class="text-decoration-none text-black"><span><i class="fa-regular fa-user me-3"></i>Profile</span></a>
          </div>
          <div class="row mt-4">
            <a class="btn btn-primary btn-home rounded-pill w-100" href="/" role="button">Tweet</a>
          </div>
          <div class="row mt-auto mb-4">
            <a class="btn btn-secondary btn-logout mt-auto rounded-pill w-100" href="/" role="button">Logout</a>
          </div>
      </div>
    </div>
  </div>
