<div class="col-3 right-partial">
    <div class="row">
      <div class="col-8 news-box ms-auto mt-3">
        <h3 class="news-box-title mt-3 fw-bold">What's happening</h3>
        <div class="flex-column">
          <small class="d-block mt-3 news-box-p1">Programming - Trending</small>
          <small class="d-block news-box-p2">#MongoVsSequelize</small>
          <small class="d-block news-box-p1">97.5K Tweets</small>
        </div>
        <div>
          <small class="d-block mt-3 news-box-p1">Entertainment - Trending</small>
          <small class="d-block news-box-p2">#StarWars</small>
          <small class="d-block news-box-p1">97.5K Tweets</small>
        </div>
        <div class="mb-3">
          <small class="d-block mt-3 news-box-p1">News - Trending</small>
          <small class="d-block news-box-p2">#LifeInMars</small>
          <small class="d-block news-box-p1">97.5K Tweets</small>
        </div>
      </div>

      <div class="col-8 follow-box ms-auto mt-3">
        <h3 class="news-box-title mt-3 mb-3 fw-bold">Who to follow</h3>
        <div class="row mt-2">
          <div class="col-2">
            <img
              src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
              alt=""
              class="image-hardcore-aside rounded-circle"
            />
          </div>
          <div class="col-6 ms-2">
            <h4 class="follow-content follow-title mb-0 mt-1">Hack Academy</h4>
            <h4 class="follow-content follow-subtitle fw-light mt-0">@HackAcademyDev</h4>
          </div>
          <div class="col-3">
            <button class="btn btn-hardcode text-white rounded-pill" href="/" role="button">
              Follow
            </button>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-2">
            <img
              src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
              alt=""
              class="image-hardcore-aside rounded-circle"
            />
          </div>
          <div class="col-6 ms-2">
            <h4 class="follow-content follow-title mb-0 mt-1">Java Script</h4>
            <h4 class="follow-content follow-subtitle fw-light mt-0">@JavaScript</h4>
          </div>
          <div class="col-3">
            <a class="btn btn-hardcode text-white rounded-pill" href="/" role="button">Follow</a>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-2">
            <img
              src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
              alt=""
              class="image-hardcore-aside rounded-circle"
            />
          </div>
          <div class="col-6 ms-2">
            <h4 class="follow-content follow-title mb-0 mt-1">MongoDB</h4>
            <h4 class="follow-content follow-subtitle fw-light mt-0">@MongoDB</h4>
          </div>
          <div class="col-3">
            <a class="btn btn-hardcode text-white rounded-pill" href="/" role="button">Follow</a>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-2">
            <img
              src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
              alt=""
              class="image-hardcore-aside rounded-circle"
            />
          </div>
          <div class="col-6 ms-2">
            <h4 class="follow-content follow-title mb-0 mt-1">NodeJs</h4>
            <h4 class="follow-content follow-subtitle fw-light mt-0">@NodeJs</h4>
          </div>
          <div class="col-3">
            <a class="btn btn-hardcode text-white rounded-pill text-center" href="/" role="button"
              >Follow</a
            >
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-2">
            <img
              src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
              alt=""
              class="image-hardcore-aside rounded-circle"
            />
          </div>
          <div class="col-6 ms-2 mb-3">
            <h4 class="follow-content follow-title mb-0 mt-1">MDN Web Docs</h4>
            <h4 class="follow-content follow-subtitle fw-light mt-0">@MDN Web Docs</h4>
          </div>
          <div class="col-3">
            <a class="btn btn-hardcode text-white rounded-pill" href="/" role="button">Follow</a>
          </div>
        </div>
      </div>
    </div>
  </div>