* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
}

.twitterSimbol {
  color: #1d9bf0;
}
.btn-home {
  background-color: #1d9bf0;
  color: white;
  border-color: #1d9bf0;
  border-radius: 15px;
}
.btn-logout {
  background-color: #dc3545;
  color: white;
  border-color: #dc3545;
  border-radius: 15px;
}

.left-partial {
  position: fixed;
  left: 3vw;
  top: 0;
  height: 100vh;
}
.right-partial {
  position: fixed;
  right: 3vw;
  top: 0;
  height: 100vh;
}

.central-box {
  height: fit-content;
  margin: 0rem 20vw 0rem 28vw;
  border: 1px solid #f3f3f3;
}

.home-central-navbar {
  position: sticky;
  top: 0;
  margin-bottom: 1rem;
  width: 100%;
  height: 7vh;
  border-bottom: 1px solid #f3f3f3;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

.news-box {
  background-color: #f7f9f9;
  border-radius: 15px;
  border: 1px solid #f7f9f9;
  width: 350px;
}

.news-box-p1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #647788;
}
.news-box-p2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: black;
}
.news-box-title {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.follow-box {
  background-color: #f7f9f9;
  border-radius: 15px;
  border: 1px solid #f7f9f9;
  width: 350px;
}

.follow-content {
  font-size: 16px;
}

.follow-title {
  color: black;
  font-weight: 500;
}

.follow-subtitle {
  font-size: 0.9rem;
}

.btn-hardcore {
  width: 75px;
  height: 35px;
  background-color: #1d9bf0;
  color: white;
  border-color: #1d9bf0;
  font-size: 0.85rem;
}

.new-tweet-box,
.tweet-list {
  border-bottom: 1px solid #f3f3f3;
}

.title-tweet-box {
  font-size: 1.2rem;
}

.tweet-content {
  font-size: 0.9rem;
}

.image-hardcode-create {
  width: 70%;
}

.image-hardcore-aside {
  width: 40px;
  height: 40px;
}

.home-tweet-profile-img {
  width: 60%;
}

.heart-likes,
.number-likes {
  color: #f91894;
}
