.register-background {
  background-color: #074874;
}

.register-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.background-color-twitter {
  background-color: #1d9bf0;
}

.submitBtn:hover {
  background-color: #1884cd;
}

.small-text {
  font-size: 0.95rem;
}

.background-color-twitter i.bi-twitter {
  align-self: flex-start;
}

.background-color-twitter h2 {
  align-self: flex-end;
}

.profile-main-section {
  height: 45%;
  padding-bottom: 4rem;
  border-bottom: 1px solid #f3f3f3;
}

.profile-banner {
  height: 50%;
}

.profile-info {
  height: 50%;
}

.profile-info .profile-info-subcontainer-right {
  position: relative;
}

.profile-info .profile-info-subcontainer-left {
  position: relative;
  right: -3%;
}

.profile-photo {
  width: 60%;
  position: absolute;
  top: -55%;
}

@media only screen and (max-width: 1000px) {
  .register-form-column {
    padding: 1.2rem 1.8rem 1.2rem 1.8rem !important;
  }
}

@media only screen and (max-width: 1500px) {
  .register-form-column {
    padding: 2rem 1.8rem 2rem 1.8rem !important;
  }
}
