<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/meta.ejs") %>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="fondo">
        <div class="d-flex flex-column card">
            <h2>Login</h2>
            <h6>Ready to start using Twitter?</h6>
            <form action="/login" method="post">
                <input type="email" name="email" placeholder="Email">
                <input type="password" name="password" placeholder="Password">
                <button type="submit" class="btn btn-info">Login</button>
            </form>
            <h6>Don't have an account? <a href="/register">Sign up</a></h6>
        </div>
    </div>
</body>
</html>